@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Yellowtail&display=swap');

.styled-table {
  border: collapse;
  margin-left: -25%;
  font-size: 0.9em;
  font-family: 'Roboto', sans-serif;
  min-width: 00px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: rgb(252, 103, 49);
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(252, 103, 49);
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: rgb(252, 103, 49);
}

.layout-allparcels {
  padding-top: 3rem;
  width: 50%;
  margin-left: 25%;
}

.allparcels-names {
  font-family: 'Roboto', sans-serif;
}

.allparcels-buttons-flex {
  display: flex;
  gap: 20px;
}

.allparcels-button {
  font-family: 'Roboto', sans-serif;
  min-width: 200px;
}

.allparcels {
  display: flex;
  gap: 10px;
}
