@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Yellowtail&display=swap');

.progress-bar-container {
  font-family: 'Roboto', sans-serif;
  background-color: #ccc;
  height: 100vh;
}

.progress-ball {
  font-size: 2rem;
}

.choose-stops-container {
  font-family: 'Roboto', sans-serif;
}

.admin-panel-title {
  margin-bottom: 3rem;
  margin-top: 3rem;
  margin-left: 40%;
}

.parcel-machine-input-label {
  margin-top: 2rem;
}

.add-stop-btn {
  margin-bottom: 3rem;
  margin-top: 3rem;
  margin-left: 40%;
}

.complete-button {
  max-width: 20rem;
  margin-left: 25%;
  margin-top: 5%;
}

.test {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.progress-line {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: bold;
}

.list-no-effect {
  list-style-type: none;
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  display: inline-block;
}

.delivery-stops {
  vertical-align: middle;
}

.deliver-truck-img {
  vertical-align: middle;
  margin-bottom: 1rem;
  padding-right: 1rem;
}
