@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Yellowtail&display=swap');

.card {
  margin: auto;
  width: 80%;
  padding: 4vh;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top: 3px solid rgb(252, 103, 49);
  border-bottom: 3px solid rgb(252, 103, 49);
  border-left: none;
  border-right: none;
  padding-bottom: 10rem;
  font-family: 'Roboto', sans-serif;
}

.title {
  color: rgb(252, 103, 49);
  font-weight: 600;
  margin-bottom: 2vh;
  padding: 0 8%;
  font-size: initial;
}

#details {
  font-weight: 400;
}
.info {
  padding: 5% 8%;
}
.info .col-5 {
  padding: 0;
}
#heading {
  color: grey;
  line-height: 6vh;
}
.pricing {
  background-color: #ddd3;
  padding: 2vh 8%;
  font-weight: 400;
  line-height: 2.5;
}
.pricing .col-3 {
  padding: 0;
}
.total {
  padding: 2vh 8%;
  color: rgb(252, 103, 49);
  font-weight: bold;
}
.total .col-3 {
  padding: 0;
}
