.trackingContainer {
  margin-top: 36%;
  width: 110%;
  padding: 4vh;
  padding-left: 10%;
  padding-right: 10%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top: 3px solid rgb(252, 103, 49);
  border-bottom: 3px solid rgb(252, 103, 49);
  border-left: none;
  border-right: none;
  padding-bottom: 5rem;
  font-family: 'Roboto', sans-serif;
}

.title {
  color: rgb(252, 103, 49);
  font-weight: 600;
  margin-bottom: 2vh;
  padding: 0 8%;
  font-size: initial;
}
