html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}
#root {
  min-height: 100%;
  position: relative;
}
#page {
  padding-bottom: 60px; /* Height of the footer */
}

.onHoverGray:hover {
  background-color: #e9ecef !important;
}

.modal-90w {
  min-width: 90%;
}
